@model Nodsoft.Cutter.Web.Data.Models.CutterLink
@inject IConfiguration config
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h3>Shorten Links</h3>

	<div class="row justify-content-center my-6">
		<div class="col-md-6">
			<form asp-controller="Home" asp-action="CreateCutterLink">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<div class="form-row my-3">
					<label class="ml-3" asp-for="Destination">Redirect link</label>
					<input asp-for="Destination" class="form-control form-control-lg" placeholder="Link">
					<span asp-validation-for="Destination" class="text-danger"></span>
				</div>

				<div class="form-row my-3">
					<label class="ml-3" asp-for="Name">(Optional) Custom Name</label>
					<input asp-for="Name" class="form-control form-control-lg" placeholder="(Optional)">
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>

				<div class="form-row my-3">
					<button type="submit" class="btn btn-primary btn-lg px-4">Create Link</button>
				</div>
			</form>
		</div>
	</div>

	@if (TempData["result"] is not null and string result)
	{
		<div class="my-5">
			<h3 class="text-success my-3">Your shortened link :</h3>
			<h5><a href=@result>@result.Replace("https://", null)</a></h5>
		</div>
	}
</div>


@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}